@font-face {
  src: url("./fonts/LEDCalculator.ttf");
  font-family: "calculator5";
}

:root {
  --color_1: rgba(32, 42, 49, 0.891);
  --color_2: #ffffff2a;
  --color_3: #ffffff76;
  --color_4: #2ac682f1;
  --color_shadow: rgba(2, 2, 2, 0.387);
}

body {
  background-color: var(--color_1);
}

#app-container {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#clock-container {
  background-color: var(--color_2);
  min-width: 350px;
  min-height: 200px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: var(--color_shadow) 1px 1px 20px 1px;
}

button {
  background-color: var(--color_1);
  color: var(--color_2);
  border: none;
  border-radius: 4px;
  text-decoration: none;
  box-shadow: inset var(--color_shadow) 1px 1px 10px 1px;
}

button:focus {
  outline: none !important;
  color: var(--color_2);
  transition: color ease-in 0.5s;
}

button:active {
  color: var(--color_4);
  transition: color ease-out 0.5s;
}

h2 {
  margin-bottom: 20px;
  color: var(--color_1);
}

#timer-label {
  color: var(--color_3);
  font-size: 25px;
}

#time-left {
  color: var(--color_4);
  text-shadow: 0px 0px 10px#ffffff00;
  font-family: calculator5;
  text-shadow: 1px 1px 10px var(--color_4);
  font-size: 30px;
}

#break-label,
#session-label {
  color: var(--color_1);
}

@keyframes color-change {
  0% {
    color: transparent;
  }
  50% {
    color: var(--color_4);
  }
  100% {
    color: transparent;
  }
}

#timer-label {
  animation-name: color-change;
  animation-duration: 5s;
  animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  animation-iteration-count: infinite;
}

#break-length,
#session-length {
  color: var(--color_4);
  font-weight: bolder;
  font-size: 20px;
  font-family: calculator5;
  text-shadow: 1px 1px 10px var(--color_4);
}
